[submodule "autogen"]
  path = autogen
  url = ../standard-autogen.git
[submodule "cdm"]
  path = cdm
  url = ../standard-cdm.git
[submodule "exec"]
  path = exec
  url = ../standard-exec.git
[submodule "io"]
  path = io
  url = ../standard-io.git
[submodule "jaxb"]
  path = jaxb
  url = ../standard-jaxb.git
[submodule "jci"]
  path = jci
  url = ../standard-jci.git
[submodule "json"]
  path = json
  url = ../standard-json.git
[submodule "lang"]
  path = lang
  url = ../standard-lang.git
[submodule "logging"]
  path = logging
  url = ../standard-logging.git
[submodule "mail"]
	path = mail
	url = ../standard-mail.git
[submodule "math"]
  path = math
  url = ../standard-math.git
[submodule "maven"]
  path = maven
  url = ../standard-maven.git
[submodule "measure"]
  path = measure
  url = ../standard-measure
[submodule "net"]
  path = net
  url = ../standard-net.git
[submodule "security"]
  path = security
  url = ../standard-security.git
[submodule "sql"]
  path = sql
  url = ../standard-sql.git
[submodule "test"]
  path = test
  url = ../standard-test.git
[submodule "util"]
  path = util
  url = ../standard-util.git
[submodule "xml"]
  path = xml
  url = ../standard-xml.git
